/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-image: url("https://cdn.glitch.com/40f54d9c-dd99-466b-b4f4-92aa5d48bda0%2Fthe-fuji-from-the-mountains-of-totomi.svg?v=1608183872310");
 
  background-repeat:repeat-x;
  background-size: 20%;
  background-color: #D0EDEF;
}
body {
  color: #F000000;
}
p {
  font-size: 14px;
}
h {
  font-size: 30px;
  font-style: italic;
  color: #373fff;
  text-align: center;
}
h1 {
  font-style: italic;
  color: #373fff;
}
table, th, td {
  border: 3px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}

* {
  box-sizing: border-box;
}

.box {
  float: left;
  padding: 50px;
  height: 200px;
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.redbox {
  background-color: red;
  
  
}
.bluebox {
  background-color: blue;
}
.blackbox {
  background-color: black;
  color: #00EBFB;
}
.greenbox {
  background-color: green;
}
.yellowbox {
  background-color: yellow;
}

.threecol{
    width: 33.33%;
}
.twocol{
    width: 50%;
}
.onecol{
    width: 100%;
}
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: lightgreen;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: blue;
}
a{
  border: 10px;
  text-decoration: none;
}
.atttribution {
  width:300px;
  padding: 20px;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {
  .threecol, .twocol, .onecol {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #cccccc;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}